html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1;
    color: #333333;
    font-family:"游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,sans-serif;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
}

.only-pc {
    display: block;
}

.only-sp {
    display: none;
}

h2 {
    font-weight: bold;
    font-size: 20px;
    margin: 15px 0;
}

p {
    line-height: 1.5;
}

.header_nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 8;
    background-color: rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid #fff;
    -webkit-transition: .3s;
    transition: .3s;
}
  
.header_nav.scrolled {
    border-bottom: 1px solid #b7e778;
    background-color: #b7e778;
    transition: background-color 200ms linear;
}

.header_nav ul {
    width: 500px;
    height: 35px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
    font-weight: bold;
}

.header_nav ul li {
    color: #000;
    transition: .3s;
}

.header_nav ul li:hover {
    opacity: .5;
    cursor: pointer;
}

.scrolled ul li {
    color: #333333;
    text-shadow: none;
}

.goTop{
    overflow: hidden;
    position: fixed;
    z-index: 10;
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s;
    top: 87%;
    left: 92%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(145, 176, 41);
}

.goTop.scrolled {
    opacity: 1;
    cursor: pointer;
}

.goTop.scrolled:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.arrow {
    width: 12px;
    height: 12px;
    border: 1px solid;
    border-color: #fff #fff transparent transparent;
    transform: rotate(-45deg);
    position: absolute;
    top: 27px;
    bottom: 0;
    right: 0;
    left: 23px;
}

.sec1, .sec3, .sec5 {
    margin-top: -35px;
    padding-top: 35px;
}

.main-title {
    background-image: url(/img/pic_01.JPG);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}

.main-title h1 {
    display: block;
    text-align: center;
    padding-top: 210px;
    color: #fff;
    font-size: 40px;
    text-shadow: 1px 2px 3px #000;
}

.con-layout {
    max-width: 600px;
    height: auto;
    margin: 50px auto 0;
}

.con-1_flex {
    display: flex;
    padding: 25px 10px;
}

.prof-pic {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.prof-txt {
    padding-left: 20px;
    width: 395px;
}

.prof-txt p:first-of-type {
    margin-bottom: 10px;
}

.content-2 h2 {
    text-align: center;
}

.content-2 ul {
    margin-top: 20px;
    padding: 0 120px;
}

.content-3 h2, .content-3 p {
    text-align: center;
}

.con-3_flex {
    display: flex;
    text-align: center;
}

.con3_01, .con3_02, .con3_03 {
    width: 250px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.con3_01_pic, .con3_02_pic, .con3_03_pic {
    width: 150px;
    height: auto;
    margin-top: 10px;
}

.discount {
    font-weight: bold;
    margin: 40px 0;
}

.content-4 {
    text-align: center;
}

.content-4 h3 {
    margin-bottom: 10px;
    font-weight: bold;
}

.content-4 p:nth-of-type(odd) {
    margin-bottom: 20px;
}

.iframe-content {
    position: relative;
    width: 100%;
    padding: 650px 0;
}

.iframe-content iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer {
    width: 100%;
    height: auto;
    background: #b7e778;
    text-align: center;
}

.footer p {
    padding: 17px;
}

@media (max-width: 800px) {
    .goTop {
        left: 87%;
    }
}

@media (max-width: 600px) {
    p {
        font-size: 15px;
    }

    .only-pc {
        display: none;
    }

    .only-sp {
        display: block;
    }

    .goTop {
        left: 85%;
    }

    .con-1_flex, .con-3_flex {
        display: block;
        text-align: center;
    }

    .con-1_flex {
        padding: 0;
    }

    .prof-txt {
        padding-left: 0;
        margin: 0 auto;
        width: 300px;
    }

    .con-3_flex p {
        margin-bottom: 10px;
    }

    .con-3_flex img {
        margin-bottom: 30px;
    }

    .discount {
        margin: 20px 0 45px;
    }
}

@media (max-width: 550px) {
    .goTop {
        top: 80%;
        left: 83%;
        width: 50px;
        height: 50px;
    }

    .arrow {
        width: 10px;
        height: 10px;
        top: 23px;
        left: 19px;
    }

    .header_nav ul {
        font-size: 15px;
        width: 400px;
    }

    .con-layout_sp {
        margin-top: 15px!important;
    }

    .main-title h1 {
        font-size: 30px;
    }
}

@media (max-width: 400px) {
    .header_nav ul {
        font-size: 13px;
        width: 300px;
    }

    .iframe-content {
        padding: 680px 0;
    }
}

@media (max-width: 350px) {
    .iframe-content {
        padding: 720px 0;
    }
}